div {
width: 100px;
height: 100px;
background-color: red;
transition: width 2s;
}

#div1 {transition-timing-function: linear;}
#div2 {transition-timing-function: ease;}
#div3 {transition-timing-function: ease-in;}
#div4 {transition-timing-function: ease-out;}
#div5 {transition-timing-function: ease-in-out;}

div:hover {
width: 300px;
}

button {
background-color: lightgray;
padding: 10px 20px;
border-radius: 5px;
transition: background-color 1s ease-out, transform 1s ease-out;
}

button:hover {
background-color: lightgreen;
transform: scale(1.1);
}