button {
    background-color: blue;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

button:hover {
    background-color: blueviolet;
    transform: scale(1.1);
}