div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid #0055FF;
    border-top: transparent;
    border-left: transparent;
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes myAnimation {
from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}