.container {
    display: grid;
    grid-template-areas: 
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    background-color: dodgerblue;
    padding: 5px;
}